<html>
    <body>
        <div>
            <form th:action="@{/attendance/save}" method="POST" th:object="${attendance}">
                <input id="id" name="id" th:field="*{employeeID}" placeholder="id" type="text">
                <br>
                <select class="form-select" aria-label="Default select example" th:field="*{department}">
                    <option th:each="attendances : ${attendances}" th:selected="${attendances.department.getDepartmentID()}" th:value="${attendances.department.getDepartmentID()}" th:text="${attendances.department.getName()}"></option>
                </select>
                <br>
                <select class="form-select" aria-label="Default select example" th:field="*{region}">
                    <option th:each="attendances : ${attendances}" th:selected="${attendances.region.getRegionID()}" th:value="${attendances.region.getRegionID()}" th:text="${attendances.region.getName()}"></option>
                </select>
                <br>
                <br>
                <button type="submit">Submit</button>
            </form>
        </div>
    </body>
</html>